# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Build output
/out/
target/

# Maven
log/
dependency-reduced-pom.xml
buildNumber.properties
release.properties

# Compiled class files
*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Temporary files
*.tmp
*.swp
*.bak

# VS Code (caso use junto com IntelliJ)
.vscode/
